<%= form_with(model: enginer, html: { multipart: true }) do |form| %>
  <% if enginer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(enginer.errors.count, "error") %> prohibited this enginer from being saved:</h2>

      <ul>
        <% enginer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :equipment_type_id, 'Tipo de Equipo' %> 
    <%= form.select :equipment_type_id, EquipmentType.all.collect {|c| [c.name, c.id]}, { include_blank: 'Selecciona un tipo de equipo' }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name, 'Nombre' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :descripcion, 'Descripcion' %>
    <%= form.text_area :descripcion, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image, 'Imagen' %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
