<%= form_with(model: maintenance) do |form| %>
  <% if maintenance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(maintenance.errors.count, "error") %> prohibited this maintenance from being saved:</h2>

      <ul>
        <% maintenance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <%= form.label :equipment_type_id, "Tipo de Equipo" %>
  <%= form.select :equipment_type_id, EquipmentType.all.collect {|c| [c.name, c.id]}, { include_blank: 'Selecciona un tipo de equipo' }, class: 'form-control' %>
</div>


  <div class="form-group">
    <%= form.label :maintenance_type,'Tipo de Mantenimiento' %>
    <%= form.select :maintenance_type, Maintenance.maintenance_types.keys.map { |key| [key.humanize, key] }, { prompt: 'Seleccione un tipo de mantenimiento' }, class: 'form-control' %>

  </div>

  <div class="form-group">
    <%= form.label :engine_id, 'Nombre de motor' %>
    <%= form.text_field :engine_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :city_id, 'Ciudad' %>
    <%= form.select :city_id, City.all.collect {|c| [c.name, c.id]}, { include_blank: 'Selecciona un tipo de equipo' }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :material_id, 'Material' %>    
    <%= form.select :material_id, Material.all.collect {|c| [c.name, c.id]}, { include_blank: 'Selecciona un tipo de equipo' }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :maintenance_date, 'Fecha de Mantenimiento' %>
    <%= form.date_field :maintenance_date, class: 'form-control' %>
  </div>


<%
=begin%>
 El sistema dara esta
  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div> 
<%
=end%>

  <div class="form-group">
    <%= link_to 'Crear', new_maintenance_path, class: 'btn btn-primary' %>
  </div>

<% end %>
