<div id="<%= dom_id maintenance %>">
  <p>
    <strong>Engine type:</strong>
    <%= maintenance.engine_type %>
  </p>

  <p>
    <strong>Maintenance type:</strong>
    <%= maintenance.maintenance_type %>
  </p>

  <p>
    <strong>Engine:</strong>
    <%= maintenance.engine_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= maintenance.city_id %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= maintenance.material_id %>
  </p>

  <p>
    <strong>Maintenance date:</strong>
    <%= maintenance.maintenance_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= maintenance.user_id %>
  </p>

</div>
