<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Iniciar Sesión</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Iniciar Sesión</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

<%
=begin%>
 <section id="contact" class="contact">
          <div class="container">
            <div class="row mt-5 justify-content-center" data-aos="fade-up">
              <div class="col-lg-10">
                <h3>Iniciar Sesión</h3>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name),class:"php-email-form") do |f| %>                  
                  <div class="row mb-3">
                    <div class="col-md-6 form-group">
                    <%= f.label :email, class: "form-label" %><br />
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                  </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-6 form-group">
                    <%= f.label :password, class: "form-label" %><br />
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                    <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
                  </div>
                  </div>
                  <% if devise_mapping.rememberable? %>
                    <div class="form-check mb-0">
                      <%= f.check_box :remember_me, class:"form-check-input me-2" %>
                      <%= f.label :remember_me,class:"form-check-label" %>
                    </div>
                  <% end %>

                  <div class="actions">
                    <%= f.submit "Log in", class: "btn" %>
                  </div>
                <% end %>

                <%= render "devise/shared/links" %>
              </div>
            </div>
           </div>   
</section><!-- End Contact Section --> 
<%
=end%>

 

 <section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start mb-3">
                <p class="lead fw-normal mb-0 me-3">Sign in</p>            
            </div>   
            <div class="field mb-3">
              <%= f.label :email, class:"form-label" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>

            <div class="field mb-3">
              <%= f.label :password, class:"form-label" %><br />
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="form-check mb-0">
                <%= f.check_box :remember_me, class:"form-check-input me-2" %>
                <%= f.label :remember_me,class:"form-check-label" %>
              </div>
            <% end %>

            <div class="actions mb-3">
              <%= f.submit "Login", class:"btn btn-primary btn-lg", style:"padding-left: 2.5rem; padding-right: 2.5rem;" %><% end %>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <%= render "devise/shared/links" %>
            </div>
    </div>
  </div>
</section>

</main><!-- End #main -->